* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   } 

body {
    
}

a {
    text-decoration: none;
    color: green;
    

}

a:hover {
    border: 1px solid red;
}

header {
    background-color: black;
    border-bottom: 1px solid red;
}

.wrapper {
    display: flex;
    width: 1024px;
    height: 768px;

}

a:visited{
    color: green;
}

ul {
    list-style: none;
    flex-direction: column;
}

li {
    border: 2px solid red;
    list-style: none;
    padding: 25px;
    background-color: black;
    color: red;

}


.nav-bar {
    /* position: absolute; */
    background-color: black;
    color: red;
    /* position: relative; */
    height: 100%;
    width: 200px;
}

.nav-bar-text {
    padding-top: 25px;
    height: 125px;
    text-align: center;
    font-size: 32px;
    vertical-align: middle;
    border-right: 1px solid red;
}

.home {
    
    transition: all 2s ease-out;
}

.home:hover  {
    background-color: rgb(71, 71, 71);
    height: 768px;
    width: 1024px;
    margin-top: -125px;

}

.about:hover {
    background-color: rgb(71, 71, 71);
    height: 768px;
    width: 1024px;
    margin-top: -198px;
}
.other-books:hover {
    background-color: rgb(71, 71, 71);
    height: 768px;
    width: 1024px;
    margin-top: -270px;
}
.quotes:hover {
    background-color: rgb(71, 71, 71);
    height: 768px;
    width: 1024px;
    margin-top: -341px;
}


li:hover {

    background-color: rgb(71, 71, 71);
    transition: all 2s ease-out;

}



.cn-button {
    width: 150px;
}
 

/* 
.banner {
    background-color: rgb(30, 0, 255);
    width: 0px;
    height: 0px;
    color: white;
    text-align: left;
    transition: all 2s ease-in;
} */

/* .about  {
    background-color: orange;
    width: 200px;
    height: 200px;
    color: white;
    text-align: left;
    transition: all 2s ease-in;
} */

/* .other-books {
    background-color: rgb(30, 0, 255);
    width: 100px;
    height: 100px;
    color: white;
    text-align: left;
    transition: all 2s ease-in;
} */


.page {
    position: relative;
    width: 100%;
    background-color: darkgray;
}