

body {
    background-color: #e3c992 ;
}

h3 {
    font-size: 24px;
}

button {
    width: 20%;
    height: 50px;
    border-radius: 5px;
}

button:hover {
    /* width: 50%; */
    background-color: azure;
    border-radius: 5px;
}

.button-container {
    position: absolute;
    align-items: center;
    justify-content: center;
    /* display: absolute; */
}



.black-sq {
    position: absolute;
    width: 60%;
    height: 15%;
    margin-top: 100px;
    background-color: black;
    border-radius: 8%;
    z-index: -1;
}

.sq-container {
    display:flex;
    width: auto;
    justify-content: center;
    align-content: center;
}

#main{
}