.img-bg {
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/eb94e860777095.5a58975916daa.jpg);
    background-size: cover;
    width: 1024px;
    height: 768px;
}


ul {
    display: flex;
}